<!DOCTYPE html>
<html>

<!-- 역 검색 Page, index에서 검색box를 누르면 넘어옴 -->
<head>
    <meta charset="utf-8">
    <title>Metro Map</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='css/normalize.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/search-station.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0c8dd76eca.js" crossorigin="anonymous"></script>
    <script> function goBack() { window.history.back(); } </script>

</head>

<body>
    <div class="wrapper">
        <div class="searchmenu-bar">
            <div class="back-icon" onclick="goBack()"> <!-- 뒤로가기 버튼 -->
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="searchbox"> <!-- 검색어 입력 -->
                <input type="text" placeholder="지하철역 검색">
            </div>
        </div>
    </div>
</body>

</html>